html {
    background: url(../assets/images/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

header{
    display: flex;
    flex-direction: column;
}

h1{
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

.nav {
    display: inline;
    padding: 1em 3em;
    background-color: #910A67;
    border-radius:42px;
  }

  .grow-rotate {
    display: inline-block;
    transition-duration: .3s;
    transition-property: transform;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    &:hover {	
          transform: scale(1.1) rotate(4deg);
      }
  }